body {
    background-color: thistle;
    color: #0f141e;

    font-size: 17px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a {
    color: mediumvioletred;
}

.avatar {
width: 500px;
border-radius: 10px;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.info p {
    color: rgb(53, 30, 180);
    margin: 0;
    font-style: italic;
    font-weight: bold;
}

.plus {
    background: red;
    /* padding: 15px; */
    padding: 15px 30px 20px 15px;
    margin: 15px;

    border: 4px solid rgb(9, 0, 128);
    border-right-color: aqua;
    border-left-color: blueviolet;
    border-top-color: chartreuse;
    border-bottom-color: deeppink;

}

.container{
    max-width: 750px;
    margin: auto;
}

